<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">

        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="keywords" content="Purwo Restaurant" />
        <meta name="description" content="Purwo Restaurant apps starter project provide list of cafe and restaurant" />            
        <meta name="theme-color" content="#ffffff"/>
        <title>Purwo Restaurant Apps Starter Project</title>     
        <link rel="icon" href="/images/favicon.ico" />
        <link rel="apple-touch-icon" href="/images/icons/restaurant-icon-192x192.png" />
        <link rel="manifest" href="/images/manifest.json" />
    </head>
    <body>
        <link rel="preload" crossorigin="anonymous" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Unica+One&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
        <link rel="preload" crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
        <noscript>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Unica+One&display=swap"/>
        </noscript>
        
        <!-- Top Navigation -->
        <nav class="wrapper-nav">
             <!-- Skip to content -->
            <a href="#/home" class="skip-link" id="button_skip_content" tabindex="0">Menuju ke konten</a>

			<div class="nav-brand">
				<span>
                    <a href="/" class="title-nav"  tabindex="0" >Purwo App</a>
                </span>
			</div>
			<button id="menu" class="nav-menu" tabindex="0">☰</button>
            <ul id="drawer" class="nav-list">
                <li class="nav-item"><a href="#/home" tabindex="0">Home</a></li>
                <li class="nav-item"><a href="#/like" tabindex="0">Favorite</a></li>
                <li class="nav-item"><a href="https://purwook.wordpress.com/" target=”_blank” tabindex="0" rel="noopener">About Us</a></li>
            </ul>
        </nav>

        <!-- Hero -->
        
        <div class="hero" aria-label="Gambar hero">
            <div class="hero-inner" tabindex="0">
                <h1 class="hero-title">Purwo Restaurant & Cafe App</h1>
                <p class="hero-description">Restoran & Kafe Bintang Lima Kaki Lima</p>
            </div>
        </div>
		
		<!-- MAIN -->
		<div id="maincontents" class = "maincontents" tabindex="0">
			<!-- Daftar Restaurant -->
			<section class="restaurant-list">
				<!-- List Restaurant-->                 
                <main id="main-content"></main>
			</section>
		</div>
        
		<!-- Footer -->
		<div class="footer" tabindex="0">
			Copyright © 2021 - Purwo Restaurant App
		</div>
        
    </body>
</html>
